<%= form_with model: @trip, id: 'new_trip', local: true do |f| %>
  <%= f.text_field :name, placeholder: "name" %><br>
  <%= f.text_field :title, placeholder: "title" %><br><br>
  <%= f.file_field :images, multiple: true %><br>
  <%= f.text_area :text, placeholder: "text", rows: "10" %><br><br>
  <%= f.submit "SEND" %>
  
  <div class="images">
    <div id="image-list"></div>
  </div>

<%end%>
  <%= images_tag @trips.images, id: 'images' if @trip.images.present?%>

