<div class="header">
  <% if user_signed_in? %>
        <div class="greeting">
          こんにちは、<%= link_to "#{current_user.name}", "/users/#{current_user.id}", class: :greeting__link %>さん
        </div>
  <% end %>
</div>

<div class="card" style="max-width: 15rem;">
  <% @trips.each do |trip| %>
    <h5 class="card-title"><%= trip.title%></h5>
    <img class="card-img-top">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item.active">
            <% trip.images.each do |image| %>
              <%= image_tag image, class: "bd-placeholder-img" %><br>
            <% end %>
            <ul class="more_list">
          <li>
            <%= link_to '編集', "#", method: :get %>
          </li>
          <li>
            <%= link_to '削除', trip_path(trip.id), method: :delete %>
          </li>
        </ul>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    <div class="card-body">
      <span class="name">
        <%= trip.user.name %><br>
        <%= trip.text%>
      </span>
    </div>
  <% end %>
</div>
